.DS_Store

node_modules
dist
.cache

bin
obj
packages
publish

.paket
.settings
.classpath
.project
.working
.publish

target
BenchmarkDotNet.Artifacts

node_modules

src/MyWeb/wwwroot/lib
src/MyViewer/wwwroot/lib
